.images {
    max-width: 400px;
    max-height: 400px;
    width: 40vmin;
    height: 40vmin;
    margin: 2vmin;
    border-color: white;
    border: solid;
    object-fit: contain;
}

.container {
    max-width: 1000px;
    padding: 5vmin;
    margin: auto;
    min-height: 100vh;
}

h1.prog-title {
    width: fit-content;
    margin: 5vh 0 0;
}

.by-tag {
    width: fit-content;
    margin: 0 0 5vh;
}

footer {
    text-align: center;
    padding: 5vh;
    text-decoration: none;
    color: white;
    background-color: rgb(7, 7, 26);
    margin: 0;
}

footer a {
    color: rgb(169, 229, 240);
    text-decoration: none;
}

p a {
    color: rgb(169, 229, 240);
    text-decoration: none;
}

a:hover {
    color: rgb(97, 197, 255);
}

.image-preview h2 {
    margin-bottom: 1vmin;
}
